$ff-body: "Nanum Myeongjo", serif;
$ff-heading: "Arvo", serif;
$ff-mono: "Cutive Mono", monospace;


$fs-body: 1rem;
$fs-aside: .75rem;
$fs-caption: .85rem;
$fs-credit: .75rem;

$fs-h1: calc(1.325rem + .9vw);
$fs-h2: calc(1.3rem + .6vw);
$fs-h3: calc(1.275rem + .3vw);
$fs-h4: 1.25rem;
$fs-h5: 1rem;
$fs-h6: 1rem;

$fs-site-title: 3rem;
$fs-post-title: calc(1.375rem + 1.5vw);
$fs-post-link: 1.5rem;


$fw-site-title: 400;
$fw-post-title: 300;
$fw-post-link: 300;


$bg-main: #ffffff;
$bg-notice: #f8f1c1;

$fc-body: #000000;
$fc-link: #212529;
$fc-fade: rgb(172, 172, 172);
$fc-source: rgb(117, 117, 117);

$fc-post-title: #000000;

$border-main: rgb(222, 226, 230);

$gutter-x: 3rem;
$gutter-y: 3rem;


// ---------- Link Reset ----------
a, a:link, a:visited, a:focus, a:hover, a:active{
	color: $fc-body;
}

// ---------- Body Text ----------

body {
	background: $bg-main;
	color: $fc-body;
	font-family: $ff-body;
}

body a {
	color: $fc-link;
}


// ---------- Headings ----------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-heading;
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.3;
}

h1, .h1 {
	font-size: $fs-h1
}
h2, .h2 {
	font-size: $fs-h2
}
h3, .h3 {
	font-size: $fs-h3
}
h4, .h4 {
	font-size: $fs-h4
}
h5, .h5 {
	font-size: $fs-h5
}
h6, .h6 {
	font-size: $fs-h6
}


// ---------- Site Header ----------

.primary-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid;
	border-bottom-color: $border-main;
}

.primary-navigation {
	display: inline-flex;
	justify-content: center;
	margin-top: 0rem;
}

.header-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.site-title {
	display: flex;
	font-family: $ff-heading;
	font-size: $fs-site-title;
	font-weight: $fw-site-title;
	text-transform: capitalize;
}

.site-description {
	display: flex;
	justify-content: center;
	font-style: italic;
}

.menu-item {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-decoration: none;
}


// ---------- Blog Posts ----------

.post-header {
	position: relative;
	width: 100%;
	height: 15rem;
	text-align: center;
	background-color: #ffffff;
	margin-bottom: 2rem;
	&.has-cover {
		background-size: cover;
		background-repeat: no-repeat;
	}
	.scrim {
		width: 100%;
		padding: 0em 0em;
		&.has-cover {
			background-color: rgba(0,0,0,0.2);
		}
	}
}

.cover {
	position: relative;
}

.post-title,
.meta-section {
	position: absolute;
	left: 0; 
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.post-title{
	max-width: 90%;
	bottom: 2rem;
	font-family: $ff-heading;
	font-size: $fs-post-title;
	font-weight: $fw-post-title;
}

.meta-section {
	width: 100%;
	bottom: 0rem;
	margin-top: 1rem;
	margin-bottom: 0rem;
}

.meta-side {
	width: 25%;
}

.meta-center {
	width: 50%;
	text-align: center;
}

.source {
	display: block;
	text-align: center;
	padding-bottom: 1rem;
}

.source,
.source a {
	font-size: $fs-caption;
	font-style: italic;
	font-weight: bold;
	color: $fc-source;
}

// Images & Captions
img {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

img,
.caption,
.credit {
	display: block;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;	
}

.caption,
.credit {
	text-align: center;
}

.caption {
	font-size: $fs-caption;
}

.credit {
	font-size: $fs-credit;
	font-style: italic;
	color: $fc-fade;
}


// ---------- Blog Page ----------
.post-list {
	tr {
		border-bottom: 1px solid $fc-fade;
	}
}

.post-link {
	font-family: $ff-heading;
	font-size: $fs-post-link;
	font-weight: $fw-post-link;
	text-decoration: none;
}

.post-excerpt {
	font-size: $fs-caption;
}

.post-meta {
	color: $fc-fade;
}

.post-date {
	text-align: left;
	font-size: $fs-caption;
}

.post-categories {
	margin-right: 0;
	text-align: right;
	font-size: 0.9em;
}

.pagination {
	padding-top: 2em;
	text-align: center;
	color: $fc-fade;
	.page-number {
		padding: 0 1em;
	}
	a.newer-posts {
	text-decoration: none;
	}
}

.preview {
	margin: 0;
	height: auto;
	width: 100%;
 }

.preview-col {
	width: 20%;
}

.post-info-col {
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 80%;
}

// ---------- Global ----------

.notice {
	text-align: center;
	background: $bg-notice;
}

// .landing-section {
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin-top: -3rem;
// 	margin-bottom: 3rem;
// 	margin-right: -1.5rem;
// 	margin-left: -1.5rem;
// 	max-width: 100%;
// 	padding-right: 1.5;
// 	padding-left: 1.5;
// }

// @media (min-width: 775px) {
// 	.primary-header {
// 		flex-direction: row;
// 	}
	
// 	.primary-navigation {
// 		margin-top: 0;
// 		margin-left: auto;
// 	}
	
	// .landing-content {
	// 	flex: 0 0 auto;
	// 	width: 50%;
	// }
//   }