// ---------- Link Reset ----------
a, a:link, a:visited, a:focus, a:hover, a:active{
	color: $fc-body;
}

// ---------- Body Text ----------

body {
	background: $bg-main;
	font-family: $ff-body;
	font-weight: $fw-body;
	line-height: $lh-body;
	color: $fc-body;
}

body a {
	color: $fc-link;
}


// ---------- Headings ----------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-heading;
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: $lh-header;
}

h1, .h1 {
	font-size: $fs-h1
}
h2, .h2 {
	font-size: $fs-h2
}
h3, .h3 {
	font-size: $fs-h3
}
h4, .h4 {
	font-size: $fs-h4
}
h5, .h5 {
	font-size: $fs-h5
}
h6, .h6 {
	font-size: $fs-h6
}


// ---------- Site Header ----------

.primary-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid;
	border-bottom-color: $border-main;
}

.primary-navigation {
	display: inline-flex;
	justify-content: center;
	margin-top: 0rem;
}

.header-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.site-title {
	display: flex;
	justify-content: center;
	font-family: $ff-heading;
	font-size: $fs-site-title;
	font-weight: $fw-site-title;
	text-transform: capitalize;
}

.site-description {
	display: flex;
	justify-content: center;
	font-style: italic;
}

.menu-item {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-decoration: none;
}


// ---------- Blog Posts ----------

.blog .header,
.article .header,
.page .header {
	display: flex;
	width: 100%;
	flex-direction: column;
	width: 100%;
	background-color: #ffffff;
	&.has-cover {
		height: 15rem;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.blog .header,
.article .header {
	margin-bottom: 2rem;
}

.page .header {
	margin-bottom: 3rem;
}

.title,
.meta-section {
	display: flex;
	flex-direction: row;
}

.title {
	margin-top: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	font-family: $ff-heading;
	font-size: $fs-post-title;
	font-weight: $fw-post-title;
}

.blog .title {
	margin-right: auto;
}

.article .title,
.page .title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.title.sub {
	margin-top: 0px;
	font-size: $fs-post-sub;
	color: $fc-post-sub;
	font-style: italic;
}

.meta-section {
	margin-top: 1rem;
}

.meta {
	flex-grow: 1;
}

.meta.left {
	width: auto;
	text-align: left;
	margin-left: 1rem;
}

.meta.middle {
	width: auto;
	text-align: center;
}

.meta.right {
	width: auto;
	text-align: right;
	margin-right: 1rem;
}

.source {
	display: block;
	text-align: center;
	padding-bottom: 1rem;
}

.source,
.source a {
	font-size: $fs-caption;
	font-style: italic;
	font-weight: bold;
	color: $fc-source;
}


.fn-inline {
	text-decoration: none;
}

.fn-end {
	font-size: $fs-footnote;
}

.fn-id {
	font-size: $fs-footnote;
}

.fn-ret:before {
	content: "\21BB";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
}


// Images & Captions
img {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	max-width: 90%;
	max-height: 20rem;
}

img,
.caption,
.credit {
	display: block;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: .5rem;
}

.caption,
.credit {
	text-align: center;
}

.caption,
.caption a {
	font-size: $fs-caption;
}

.credit,
.credit a {
	font-size: $fs-credit;
	font-style: italic;
	color: $fc-fade;
}


// ---------- Lists ----------
.list {
	tr {
		border-bottom: 1px solid $fc-fade;
	}
}

.list .link {
	font-family: $ff-heading;
	font-size: $fs-post-link;
	font-weight: $fw-post-link;
	text-decoration: none;
}

.list .excerpt {
	font-size: $fs-caption;
}

.list .meta {
	color: $fc-fade;
}

.list .date {
	text-align: left;
	font-size: $fs-caption;
}

.list .categories {
	margin-right: 0;
	text-align: right;
	font-size: 0.9em;
}

.pagination {
	padding-top: 2em;
	text-align: center;
	color: $fc-fade;
	.page-number {
		padding: 0 1em;
	}
	a.newer-posts {
	text-decoration: none;
	}
}

.preview {
	margin: 0;
	height: auto;
	width: 100%;
 }

.list .column.preview {
	width: 20%;
}

.list .column.info {
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 80%;
}

// ---------- Recents ----------

.container-fluid {
	width:94%;
	margin:0px auto;
	max-width: 94%;
}

.card {
	border: 0;
    transition:ease .1s;
}
.card-pin:hover .overlay {
	opacity:.5;
	border:5px solid #f3f3f3;
	-webkit-transition:ease .2s;
	transition:ease .1s;
	background-color:#000000;
	cursor:-webkit-zoom-in;
	cursor: zoom-in;
}
.more {
	color:white;
	font-size:14px;
	position:absolute;
	bottom: 9px;
    right: 10px;
	text-transform:uppercase;
	-webkit-transform:translate(-20%,-20%);
	transform:translate(-20%,-20%);
	-ms-transform: translate(-50%,-50%);
}
.card-pin .card-title {
	color:#ffffff;
	text-align:center;
	font-size:1.2em;
    margin-bottom:0;
}
.card-pin.raco .card-title {
    text-align: left;
}
.notraco {
    background: #ffffff;
    color: #333;
    border: 0;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px 18px;
    position: relative;
}
.card-pin.raco .notraco .card-title {
    color: #333;
    font-size: 1em;
    font-weight: 700;
}
.card-pin .more a {
	text-decoration:none;
	color: #ffffff;
}
.card-pin .download a {
	text-decoration:none;
	color: #ffffff;
}
.card-pin.raco:hover .notraco {
    background-color: #f0f0f0;
    transition: all 0.2s;
}

.btn-gray {
    background-color: #efefef;
    color:#333;
}
.btn-gray:hover {
    background-color:#ddd;
}

.wrapcat {
    background-color: rgba(0,0,0,0.2);
    display: none;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.showcat {
    margin: auto;
    padding: 0 15px 40px 15px;
}
.wrapcat .btn {
    border: 0;
    padding: 0 6px 2px 6px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    font-size:13px;
}
.card-pin.raco:hover .wrapcat {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-radius:6px;
     transition: all 0.2s;
}
.card-pin.raco:hover i.text-muted {
    color:#bd081c !Important;
     transition: all 0.2s;
    position: relative;
}

.gotopost {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 5px 1px 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.card-columns .card {
	margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
	/* line 256, node_modules/bootstrap/scss/_card.scss */
	.card-columns {
		-webkit-column-count: 3;
		column-count: 3;
		-webkit-column-gap: .5rem;
		 column-gap: .5 rem;
		 orphans: 1;
		 widows: 1;
	}
	/* line 267, node_modules/bootstrap/scss/_card.scss */
	.card-columns .card {
		display: inline-block;
		width: 100%;
	}
}

// ---------- Global ----------

.notice {
	text-align: center;
	background: $bg-notice;
}

// .landing-section {
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin-top: -3rem;
// 	margin-bottom: 3rem;
// 	margin-right: -1.5rem;
// 	margin-left: -1.5rem;
// 	max-width: 100%;
// 	padding-right: 1.5;
// 	padding-left: 1.5;
// }

// @media (min-width: 775px) {
// 	.primary-header {
// 		flex-direction: row;
// 	}
	
// 	.primary-navigation {
// 		margin-top: 0;
// 		margin-left: auto;
// 	}
	
	// .landing-content {
	// 	flex: 0 0 auto;
	// 	width: 50%;
	// }
//   }